 body {
        background-color: lightblue;
    border: 10px solid blue;
        padding: 5%;
        margin: 5%;
}
  p {
   text-align:center;
}
address {
    text-align:center;
    color:darkblue;
}
    .thick-black-border {
    border-style: solid;
    border-color: black;
    border-width: 5px;
    text-align: right;
  }
    h1 {
        text-align:center; 
        color:darkblue;
}
    h2 {
        border-color: black;
        border-width: 3px;
        border-bottom-style: solid;
        color: darkblue;
        font-family:sans-serif;
    }  
    
  

